$progressColor: #e30a0b;
*{
  font-family: Sans-serif
}
body{

  overflow:hidden;
}
.wrapper{
  position:relative;
  order:none;
  width:400px;
  height:269px;
  flex-wrap:wrap;
}
.logo{
  width:40%
}
.text__wrapper, .donations__wrapper{
  flex-basis:50%;
  padding:15px
}
.content__wrapper{
  display: flex;
  position: absolute;
  top: 50%;
  align-items: center;
  transform: translateY(-50%);
  justify-content: space-between;
}
.text__wrapper{
  text-align:right;
  display:flex;
  align-items: center;

}
.donations__wrapper{
}
h1,h2{
  margin-block-start: 0;
margin-block-end: 0;
}
h1{
  font-size: 22px;
}
h2{
  font-size: 16px
}
.donation__seperator{
  border-top-style: solid;
  border-color: gainsboro;
  border-top-width: 1px;
  width:50%;
  margin: 5px 0;
}
.donation{
  position:absolute;
  opacity:0;
  transform: translateY(0%);
  transition:opacity 0.7s, transform 0.7s;
}
.donation-in{
  opacity:1;
  transform: translateY(-50%);

}
.donation-out{
  opacity:0;
  transform: translateY(-100%)
}
p{
  margin-block-start: 0;
margin-block-end: 0;
}
.progress{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
}
.progress__bar{
  position: absolute;
/* left: 50%; */
height: 100%;
width: 100%;
//transition: width 1s ease-out;
}
.progress__bar-in{
  width:75%!important
}
.progress__amount-background{
  position: absolute;
/* left: 50%; */
height: 100%;
width: 0%;
background:$progressColor;
transition: width 1s ease-out;
}
.progress__about-base{
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}
.progress__about-in{
  display: inline-block;
left: 50%;
position: absolute;
top: 50%;
transform: translate(-50%,-50%);
color: white;
}
.progress__amount-front{
  position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    width: 100%;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s ease-out
}
.progress__amount-front-in{
  clip-path: inset(0 25% 0 0);
}
.progress__amount-back{
  position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    text-align: center;
    width: 100%;
}
