*{
  font-family: Sans-serif
}
body{
  overflow:hidden;
}
.wrapper{
  position:relative;
  order:none;
  width:400px;
  height:269px;
  flex-wrap:wrap;
}
.logo{
  width:40%;
  display: block;
}
.image__wrapper{
  display: inline-block;
  position: relative;
  left:50%;
  transform:translateX(-50%);
}
.image{
}
.monetary{
  position: absolute;
width: 100px;
height: 100px;
bottom: 0;
background: white;
left: 50%;
transform: translate(-50%,50%);
border-radius: 100000px;
border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
}
.wrapper__inner{
  background: orange;
    height: 95%;
    width: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    overflow: hidden
}
.amount__graphic{
  width:100%;
  height:100%;
  background-color: white;
  transition: height 1s ease-out
}
.amount__numbers{
  width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.donations{
    height: 1000;
    position: relative;
        margin-top: 50px;
}
.donation__amount{
  padding-top:7px
}
.donation{
  display: flex;
  flex-direction: row;
  width: 68%;
left: 50%;
position: relative;
transform: translateX(-50%);
background: white;
border-style: solid;
border-color: gainsboro;
border-width: 1px;
padding: 15px;
margin-bottom: 25px;
max-height: 200px
}
.donation__info{
  display: flex;
  flex-direction: column;
  flex:6;

}
.donation__top{
  flex:1;
  padding-right: 10px;
  position: relative;

}
.donation__top,.donation__info{
  padding-left: 30px;
}
.donation__top>p{
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;

}
.donation__top h1{
  display:inline-block;
  margin-block-start: 0;
  font-size: 150%;
    margin-block-end: 0;
}
.donation-out{
  transform: translate(-50%,-100%);
max-height: 0;
padding: 0;
overflow: hidden;
margin: 0;
border: 0;
opacity:0;
transition: opacity 0.1s,transform 0.2s,max-height 0.2s,padding 0.2s,margin 0.2s, border 0.2s
}
h3,h2{
  text-align: center;

}
h3{
  position: relative;
  margin-top:100px
}
.cta{

    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background: purple;
    color: white;
    padding: 10px 20px;
}
